@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center row">
    <h1 class="display-4">Welcome To The Cowboy Cafe!</h1>
    <p>
        We at Cowboy Cafe are proud to bring you authentic trail meals from the American West.
        Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas.
        Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger!
        You’ve had a hard ride - so take it easy with us.
    </p>

    <div class="col-sm">
        <h2>Entrees</h2>
        @foreach (CowboyCafe.Data.Entree entree in CowboyCafe.Data.Menu.Entrees())
        {
            <div class="menu-item">
                <span><u>@entree</u><br /></span>
                <span>Price: @string.Format("{0:C}", entree.Price)<br /></span>
                <span>Calories: @entree.Calories<br /></span>
            </div>
            <br />
        }
    </div>

    <div class="col-sm">
        <h2>Sides</h2>
        @foreach (CowboyCafe.Data.Side side in CowboyCafe.Data.Menu.Sides())
        {
            @foreach (CowboyCafe.Data.Size s in Enum.GetValues(typeof(CowboyCafe.Data.Size)))
            {
                CowboyCafe.Data.Menu.ChangeSideSize(side, s);
                <div class="menu-item">
                    <span><u>@side</u><br /></span>
                    <span>Price: @string.Format("{0:C}", side.Price)<br /></span>
                    <span>Calories: @side.Calories<br /></span>
                </div>
            }
            <br />
        }
    </div>

    <div class="col-sm">
        <h2>Drinks</h2>
        @foreach (CowboyCafe.Data.Drink drink in CowboyCafe.Data.Menu.Drinks())
        {
            @foreach (CowboyCafe.Data.Size s in Enum.GetValues(typeof(CowboyCafe.Data.Size)))
            {
                CowboyCafe.Data.Menu.ChangeDrinkSize(drink, s);
                <div class="menu-item">
                    <span><u>@drink</u><br /></span>
                    <span>Price: @string.Format("{0:C}", drink.Price)<br /></span>
                    <span>Calories: @drink.Calories<br /></span>
                </div>
            }
            <br />
        }
    </div>

</div>